@if (menuOpen()) {
  <sm-menu
    [position]="menuPosition()"
    [header]=""
    [showCart]="false"
    [showOverlay]="false"
    [openOnInit]="true"
  >
    @if (selectedQueue().profile_connection) {
      <div class="info">
        <mat-icon fontSet="al" fontIcon="al-ico-info-circle" class="sm"></mat-icon>
        <div>
          {{ 'queues.menu.managedByPrefix' | translate }}
          @if(selectedQueue().profile_connection?.policy_name){
            <a class="policy-name" [routerLink]="['..', 'resource-policies']" [queryParams]="{id:  selectedQueue().profile_connection.policy}">{{selectedQueue().profile_connection?.policy_name}}</a>
          }
          {{ 'queues.menu.managedBySuffix' | translate }}
        </div>
      </div>
      <mat-divider></mat-divider>
    }
    @if (queuesManager) {
      <sm-menu-item
        itemLabel="queues.menu.delete"
        [disabled]="selectedQueue()?.entries?.length > 0 || !!selectedQueue().profile_connection"
        (itemClicked)="deleteQueue.emit(selectedQueue())"
      ></sm-menu-item>
      <sm-menu-item
        itemLabel="queues.menu.update"
        [disabled]="!!selectedQueue().profile_connection"
        (itemClicked)="renameQueue.emit(selectedQueue())"
      ></sm-menu-item>
    }
    <sm-menu-item
      itemLabel="queues.menu.clear"
      (itemClicked)="clearQueue.emit(selectedQueue())"
      [disabled]="selectedQueue()?.entries?.length === 0"
    ></sm-menu-item>
    <ng-content select="[extendedQueuesMenu]"></ng-content>
  </sm-menu>
}
