<div [formGroup]="form" class="pb-4 position-relative">
  <div class="provider-icon">
    <i class="al-icon i-google-cloud md"></i>
  </div>

  <div class="sub-title">{{ 'settings.storage.labels.defaultCredentials' | translate }}</div>

  <mat-form-field appearance="outline" class="black">
    <mat-label>{{ 'settings.storage.fields.project' | translate }}</mat-label>
    <input matInput formControlName="project"/>
  </mat-form-field>
  <div class="file-upload">
    <div class="field-label">{{ 'settings.storage.labels.credentialsJson' | translate }}</div>
    <input class="hidden" #fileInput type="file" accept="application/JSON" [name]="fileInput.files[0]?.name" (change)="onFileChange($event)">
    <div class="file-upload-input">
      <div class="file-upload-name">
        <span class="ellipsis" [class.empty]="!(form.controls.credentials_json.value)">{{ form.controls.credentials_json.value || ('settings.storage.labels.noFileSelected' | translate) }}</span>
        @if (form.controls.credentials_json.value) {
          <button mat-icon-button (click)="$event.preventDefault(); clearFile(); fileInput.value = ''">
            <mat-icon fontSet="al" fontIcon="al-ico-dialog-x"></mat-icon></button>
        }
      </div>
      @if (form.controls.credentials_json.value) {
        <button mat-button type="button" (click)="showFile({bucket: null, data: form.controls.credentials_json.value})">{{ 'settings.storage.labels.showFile' | translate }}</button>
      } @else {
        <button mat-button type="button" (click)="fileInput.click()">{{ 'settings.storage.labels.uploadFile' | translate }}</button>
      }
    </div>
  </div>
  <div class="sub-title">{{ 'settings.storage.labels.bucketSpecificCredentials' | translate }}</div>
  <div class="pb-3" formArrayName="buckets">
    @for (bucket of googleBuckets.controls; track bucket; let i = $index) {
      <div class="bucket-row" [formGroupName]="i">
        <button mat-icon-button class="trash" (click)="removeGoogleBucket(i)">
          <mat-icon fontSet="al" fontIcon="al-ico-trash sm-md"></mat-icon></button>
        <mat-form-field appearance="outline" class="black">
          <mat-label>{{ 'settings.storage.fields.bucket' | translate }}</mat-label>
          <input matInput required formControlName="bucket"/>
          @if (form.controls.buckets.controls[i].controls.bucket.errors?.required) {
            <mat-error>{{ 'settings.storage.validation.bucketRequired' | translate }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="black">
          <mat-label>{{ 'settings.storage.fields.project' | translate }}</mat-label>
          <input matInput formControlName="project"/>
        </mat-form-field>

        <!--        <mat-form-field appearance="outline" class="black">-->
        <!--          <mat-label>Subdir</mat-label>-->
        <!--          <input matInput formControlName="subdir"/>-->
        <!--        </mat-form-field>-->

        <div class="file-upload">
          <div class="field-label">{{ 'settings.storage.labels.credentialsJsonRequired' | translate }}</div>
          <input class="hidden" #fileInput1 type="file" accept="application/JSON" [name]="fileInput.files[0]?.name" (change)="onFileChange($event, i)">
          <div class="file-upload-input">
            <div class="file-upload-name">
              <span class="ellipsis" [class.empty]="!form.controls.buckets.controls[i].value.credentials_json">
                {{ form.controls.buckets.controls[i].value.credentials_json || ('settings.storage.labels.noFileSelected' | translate) }}
              </span>
              @if (form.controls.buckets.controls[i].value.credentials_json) {
                <button  mat-icon-button (click)="$event.preventDefault(); clearBucketFile(i); fileInput1.value = ''">
                  <mat-icon fontSet="al" fontIcon="al-ico-dialog-x"></mat-icon></button>
              }
            </div>
            @if (form.controls.buckets.controls[i].value.credentials_json) {
              <button mat-button type="button" (click)="showFile({bucket: form.controls.buckets.controls[i].value.bucket, data: form.controls.buckets.controls[i].value.credentials_json})">{{ 'settings.storage.labels.showFile' | translate }}</button>
            } @else {
              <button mat-button type="button" (click)="fileInput1.click()">{{ 'settings.storage.labels.uploadFile' | translate }}</button>
            }
          </div>
        </div>
      </div>
    }
  </div>
  <button mat-button (click)="$event.preventDefault(); addGoogleBucket()">
    <mat-icon fontSet="al" fontIcon="al-ico-add"></mat-icon>
    {{ 'settings.storage.labels.addCredentials' | translate }}
  </button>
</div>
