@if (selectedStorage()) {
  <header class="sm-entity-page-header">
      <button mat-icon-button (click)="cancelChanges(); selectedStorage.set(null)">
        <mat-icon fontSet="al" fontIcon="al-ico-arrow-left" data-id="backStorage"></mat-icon>
      </button>
      <span>{{ storageLabelKeys[selectedStorage()] | translate }} {{ 'settings.storage.credentials' | translate }}</span>
    <div class="actions">
      <button mat-stroked-button
              type="button"
              [disabled]="storageForm.pristine"
              (click)="cancelChanges()">{{ 'settings.storage.actions.resetChanges' | translate }}
      </button>
      <button mat-flat-button
              type="submit"
              [disabled]="storageForm.invalid || storageForm.pristine"
              (click)="save()">{{ 'shared.save' | translate }}
      </button>
    </div>
  </header>
}
<form [formGroup]="storageForm" (ngSubmit)="onSubmit()">
  @switch (selectedStorage()) {
    @case ('google') {
      <sm-google-storage-credentials
        formGroupName="google"
        (save)="save()"
        (cancelClicked)="cancelChanges()">
      </sm-google-storage-credentials>
    }
    @case ('aws') {
      <sm-aws-storage-credentials
        formGroupName="aws"
        (save)="save()"
        (cancelClicked)="cancelChanges()">
      </sm-aws-storage-credentials>
    }
    @case ('azure') {
      <sm-azure-storage-credentials
        formGroupName="azure"
        (save)="save()"
        (cancelClicked)="cancelChanges()">
      </sm-azure-storage-credentials>
    }
    @default {
      <div class="storage-title">{{ 'settings.storage.providersTitle' | translate }}</div>
      <div class="storage-desc">{{ 'settings.storage.providersDescription' | translate }}</div>
      <div class="storage-options">
        <div class="tablet google" (click)="selectedStorage.set('google')">
          <i class="al-icon i-google-cloud xxl"></i>
          <div>{{ 'settings.storage.providers.google' | translate }}</div>
          @if (storageForm.controls.google.controls.credentials_json.value || storageForm.controls.google.controls.buckets.controls.length) {
            <span class="active-badge"><i class="al-icon al-ico-success sm-md me-2"></i>{{ 'settings.storage.configured' | translate }}</span>
          }
        </div>
        <div class="tablet aws" (click)="selectedStorage.set('aws')">
          <i class="al-icon i-aws-cloud xxl"></i>
          <div>{{ 'settings.storage.providers.aws' | translate }}</div>
          <span class="subtitle">{{ 'settings.storage.awsCompatiblePrefix' | translate }} <i class="al-icon i-minio xl"></i> {{ 'settings.storage.awsCompatibleSuffix' | translate }}</span>
          @if (storageForm.controls.aws.controls.key.value || storageForm.controls.aws.controls.buckets.controls.length) {
            <span class="active-badge"><i class="al-icon al-ico-success sm-md me-2"></i>{{ 'settings.storage.configured' | translate }}</span>
          }
        </div>
        <div class="tablet azure" (click)="selectedStorage.set('azure')">
          <i class="al-icon i-azure-cloud xxl"></i>
          <div>{{ 'settings.storage.providers.azure' | translate }}</div>
          @if (storageForm.controls.azure.controls.containers.controls.length) {
            <span class="active-badge"><i class="al-icon al-ico-success sm-md me-2"></i>{{ 'settings.storage.configured' | translate }}</span>
          }
        </div>
      </div>
    }
  }
</form>
