@if (credentials?.length) {
  <table class="admin-table">
    <thead>
      <tr>
        <th>{{ 'credentials.label' | translate }}</th>
        <th>{{ 'credentials.accessKey' | translate }}</th>
        <th>{{ 'settings.admin.credentials.lastUsed' | translate }}</th>
        <th>{{ 'settings.admin.credentials.workerIp' | translate }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (credential of credentials; track credential) {
        <tr>
          <td> <span class="label ellipsis" [smTooltip]="credential.label" smShowTooltipIfEllipsis matTooltipShowDelay="500">{{credential.label}}</span></td>
          <td>{{credential.access_key}}</td>
          <td [smTooltip]="credential?.last_used | smDate : timeFormatString" matTooltipShowDelay="500">{{credential?.last_used ? (credential.last_used |  timeAgo): ('settings.admin.credentials.never' | translate)}}</td>
          <td>{{credential?.last_used_from ? credential?.last_used_from : ('shared.notAvailable' | translate)}}</td>
          <td class="actions">
            <div class="action-button gap-2">
              <button mat-icon-button [smTooltip]="'credentials.editLabelTitle' | translate" matTooltipShowDelay="500" (click)="editLabel(credential)"><mat-icon fontSet="al" [fontIcon]="icons.EDIT"></mat-icon></button>
              <button mat-icon-button [smTooltip]="'credentials.revoke' | translate" matTooltipShowDelay="500" (click)="confirmPopUp(credential)"><mat-icon fontSet="al" [fontIcon]="icons.REMOVE"></mat-icon></button>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
}
