<div class="toggles">
  <sm-usage-stats #usage [class.d-none]="!usage.shown"></sm-usage-stats>
  @if (admin() || usage.shown) {
    <mat-slide-toggle
      (change)="statsChange($event)"
      [checked]="show()"
      color="accent"
      ><span class="d-flex-center">{{ 'preferences.showHiddenProjects' | translate }}<i class="al-icon al-ico-ghost sm ms-3"></i></span>
    </mat-slide-toggle>
  }
  <mat-slide-toggle
    (change)="toggleExamples($event)"
    [checked]="hideExamples()"
    color="accent"
    >{{ 'preferences.dontShowExamples' | translate }}
  </mat-slide-toggle>
  @if (supportReScaling) {
    <mat-slide-toggle
      (change)="hidpiChange($event)"
      [checked]="disableHidpi"
    >
      <div class="d-flex-center">
        {{ 'preferences.disableHidpi' | translate }}
        <mat-icon fontSet="al" fontIcon="al-ico-info-circle" class="sm info ms-3"
                  data-id="hidpiInfoIcon"
                  [smTooltip]="'preferences.hidpiTooltip' | translate"
        ></mat-icon>
        <a href="#" class="reload hidden ms-3" [class.hidden]="!disableHidpiChanged" (click)="$event.preventDefault(); reload($event)">{{ 'preferences.reloadToApply' | translate }}</a>
      </div>
    </mat-slide-toggle>
  }
  @if (tipsService.hasTips()) {
    <mat-slide-toggle
      (change)="setNeverShowTipsAgain($event)"
      [checked]="neverShowTipsAgain()?.includes(popupId)"
      color="accent"
      >{{ 'preferences.dontShowProTips' | translate }}
    </mat-slide-toggle>
  }
  @if (!this.config.configuration().enterpriseServer) {
    <mat-slide-toggle
      (change)="toggleEnterpriseFeatures($event.checked)"
      [checked]="hideEnterpriseFeatures()"
      color="accent"
    >{{ 'preferences.dontShowEnterprise' | translate }}</mat-slide-toggle>
  }
  <mat-slide-toggle
    (change)="toggleBlockUserScript($event)"
    [checked]="blockUserScripts()"
    [disabled]="config.configuration().blockUserScript"
  >
    <div class="d-flex-center">
      {{ 'preferences.blockUserScripts' | translate }}
      <mat-icon fontSet="al" fontIcon="al-ico-info-circle" class="sm info ms-3"
                data-id="blockScriptsInfoIcon"
                [smTooltip]="blockScriptNotice()"
      ></mat-icon>
    </div>
  </mat-slide-toggle>
    <mat-slide-toggle
      (change)="hideSpecificContainerArguments($event)"
      [checked]="!!hideRedactedArguments()"
    >
      <div class="d-flex-center">
        {{ 'preferences.hideContainerArgs' | translate }}
        <mat-icon fontSet="al" fontIcon="al-ico-info-circle" class="sm info ms-3"
                  data-id="hideSpecificargInfoIcon"
                  [smTooltip]="'preferences.hideContainerArgsTooltip' | translate"
        ></mat-icon>
        <button class="ms-2" mat-button data-id="editButton" (click)="editHideSpecificContainerArguments()">{{ 'preferences.edit' | translate }}</button>
      </div>
    </mat-slide-toggle>
</div>
