<div [formGroup]="form" class="pb-4 position-relative">
  <div class="provider-icon">
    <i class="al-icon i-aws-cloud md"></i>
  </div>
  <div class="aws-table-global">
    <div class="sub-title">{{ 'settings.storage.labels.defaultCredentials' | translate }}</div>

    <mat-form-field appearance="outline" class="black" readonly="true">
      <mat-label class="header">
        <span>{{ 'settings.storage.fields.accessKey' | translate }}</span>
        <i class="al-icon al-ico-info-circle ms-2 msm"
           [smTooltip]="'settings.storage.aws.tooltips.defaultAccessKey' | translate"></i>
      </mat-label>
      <input matInput formControlName="key" autocomplete="delete-key"/>
      @if (form.controls.key.value) {
        <sm-copy-clipboard [clipboardText]="form.controls.key.value"
                           label=""
                           class="copy-clipboard"
                           data-id="copy to clipboard"></sm-copy-clipboard>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="black">
      <mat-label class="header">
        <span>{{ 'settings.storage.fields.secret' | translate }}</span>
        <i class="al-icon al-ico-info-circle ms-2 msm"
           [smTooltip]="'settings.storage.aws.tooltips.defaultSecret' | translate"></i>
      </mat-label>
      <input matInput formControlName="secret" type="password" autocomplete="delete-secret"/>
      @if (form.controls.secret.value) {
        <sm-copy-clipboard [clipboardText]="form.controls.secret.value"
                           label=""
                           class="copy-clipboard"
                           data-id="copy to clipboard"></sm-copy-clipboard>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="black">
      <mat-label class="header">
        <span>{{ 'settings.storage.fields.accessToken' | translate }}</span>
        <i class="al-icon al-ico-info-circle ms-2 msm"
           [smTooltip]="'settings.storage.aws.tooltips.defaultAccessToken' | translate"></i>
      </mat-label>
      <input matInput formControlName="token"/>
      @if (form.controls.token.value) {
        <sm-copy-clipboard [clipboardText]="form.controls.token.value"
                           label=""
                           class="copy-clipboard"
                           data-id="copy to clipboard"></sm-copy-clipboard>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="black">
      <mat-label class="header">
        <span>{{ 'settings.storage.fields.region' | translate }}</span>
        <i class="al-icon al-ico-info-circle ms-2 msm"
           [smTooltip]="'settings.storage.aws.tooltips.defaultRegion' | translate"></i>
      </mat-label>
      <input matInput formControlName="region"/>
    </mat-form-field>

    <mat-checkbox formControlName="use_credentials_chain">
      <mat-label class="header">
        <span>{{ 'settings.storage.fields.credentialsChain' | translate }}</span>
        <i class="al-icon al-ico-info-circle ms-2 msm"
           [smTooltip]="'settings.storage.aws.tooltips.credentialsChain' | translate"></i>
      </mat-label>
    </mat-checkbox>

  </div>

  <div class="pb-3 aws-table" formArrayName="buckets">
    <div class="sub-title">{{ 'settings.storage.labels.bucketSpecificCredentials' | translate }}</div>

    @for (bucket of awsBuckets.controls; track bucket; let i = $index) {
      <div class="bucket-row" [formGroupName]="i">
        <button mat-icon-button class="trash" (click)="removeAwsBucket(i)">
          <mat-icon fontSet="al" fontIcon="al-ico-trash sm-md"></mat-icon>
        </button>
        <mat-form-field appearance="outline" class="black">
          <mat-label class="header">
            <span>{{ 'settings.storage.fields.bucket' | translate }}</span>
            <i class="al-icon al-ico-info-circle ms-2 msm"
               [smTooltip]="'settings.storage.aws.tooltips.bucket' | translate"></i>
          </mat-label>
          <input matInput formControlName="bucket"/>
        </mat-form-field>

        <mat-form-field appearance="outline" class="black">
          <mat-label class="header">
            <span>{{ 'settings.storage.fields.region' | translate }}</span>
            <i class="al-icon al-ico-info-circle ms-2 msm"
               [smTooltip]="'settings.storage.aws.tooltips.bucketRegion' | translate"></i>
          </mat-label>
          <input matInput formControlName="region"/>
        </mat-form-field>

        <mat-form-field appearance="outline" class="black">
          <mat-label class="header">
            <span>{{ 'settings.storage.fields.host' | translate }}</span>
            <i class="al-icon al-ico-info-circle ms-2 msm"
               [smTooltip]="'settings.storage.aws.tooltips.host' | translate"></i>
          </mat-label>
          <input matInput formControlName="host"/>
        </mat-form-field>

        <mat-checkbox formControlName="secure">
          <div class="header">
            <span>{{ 'settings.storage.fields.secureHost' | translate }}</span>
            <i class="al-icon al-ico-info-circle ms-2 msm"
               [smTooltip]="'settings.storage.aws.tooltips.secureHost' | translate"></i>
          </div>
        </mat-checkbox>

        <mat-checkbox formControlName="verify">
          <div class="header">
            <span>{{ 'settings.storage.fields.verifySslCertificate' | translate }}</span>
          </div>
        </mat-checkbox>

        <br>

        <mat-form-field appearance="outline" class="black" [class.disabled]="form.controls.buckets.controls[i].controls.use_credentials_chain.value">
          <mat-label class="header">
            <span>{{ 'settings.storage.fields.accessKey' | translate }}</span>
            <i class="al-icon al-ico-info-circle ms-2 msm"
               [smTooltip]="'settings.storage.aws.tooltips.bucketAccessKey' | translate"></i>
          </mat-label>
          <input matInput formControlName="key" [autocomplete]="'delete-key' + i" [required]="!form.controls.buckets.controls[i].controls.use_credentials_chain.value"/>
          @if (form.controls.buckets.controls[i].controls.key.value) {
            <sm-copy-clipboard [clipboardText]="form.controls.buckets.controls[i].controls.key.value"
                               label=""
                               class="copy-clipboard"
                               data-id="copy to clipboard"></sm-copy-clipboard>
          }
          @if (form.controls.buckets.controls[i].controls.key.errors?.required) {
            <mat-error>{{ 'settings.storage.validation.keyRequired' | translate }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="black" [class.disabled]="form.controls.buckets.controls[i].controls.use_credentials_chain.value">
          <mat-label class="header">
            <span>{{ 'settings.storage.fields.secret' | translate }}</span>
            <i class="al-icon al-ico-info-circle ms-2 msm"
               [smTooltip]="'settings.storage.aws.tooltips.bucketSecret' | translate"></i>
          </mat-label>
          <input matInput formControlName="secret" [autocomplete]="'delete-secret' + i" [required]="!form.controls.buckets.controls[i].controls.use_credentials_chain.value" type="password"/>
          @if (form.controls.buckets.controls[i].controls.secret.value) {
            <sm-copy-clipboard [clipboardText]="form.controls.buckets.controls[i].controls.secret.value"
                               label=""
                               class="copy-clipboard"
                               data-id="copy to clipboard"></sm-copy-clipboard>
          }
          @if (form.controls.buckets.controls[i].controls.secret.errors?.required) {
            <mat-error>{{ 'settings.storage.validation.secretRequired' | translate }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="black" [class.disabled]="form.controls.buckets.controls[i].controls.use_credentials_chain.value">
          <mat-label class="header">
            <span>{{ 'settings.storage.fields.accessToken' | translate }}</span>
            <i class="al-icon al-ico-info-circle ms-2 msm"
               [smTooltip]="'settings.storage.aws.tooltips.bucketAccessToken' | translate"></i>
          </mat-label>
          <input matInput formControlName="token"/>
          @if (form.controls.buckets.controls[i].controls.token.value) {
            <sm-copy-clipboard [clipboardText]="form.controls.buckets.controls[i].controls.token.value"
                               label=""
                               class="copy-clipboard"
                               data-id="copy to clipboard"></sm-copy-clipboard>
          }
        </mat-form-field>


        <!--        <mat-form-field appearance="outline" class="black">-->
        <!--          <mat-label class="header">-->
        <!--            <span>Subdir</span>-->
        <!--            <i class="al-icon al-ico-info-circle ms-2 msm"-->
        <!--               smTooltip=""></i>-->
        <!--          </mat-label>-->
        <!--          <input matInput formControlName="subdir"/>-->
        <!--        </mat-form-field>-->

        <mat-checkbox formControlName="use_credentials_chain">
          <div class="header">
            <span>{{ 'settings.storage.fields.useCredentialsChain' | translate }}</span>
            <i class="al-icon al-ico-info-circle ms-2 msm"
               [smTooltip]="'settings.storage.aws.tooltips.useCredentialsChain' | translate"></i>
          </div>
        </mat-checkbox>

      </div>
    }
  </div>

  <button mat-button (click)="$event.preventDefault(); addAwsBucket()">
    <mat-icon fontSet="al" fontIcon="al-ico-add"></mat-icon>
    {{ 'settings.storage.labels.addCredentials' | translate }}
  </button>
</div>
