<header>
  <div class="title">
    {{ 'credentials.apiCredentials' | translate }}
    <mat-icon
      class="info sm"
      fontSet="al" fontIcon="al-ico-info-circle"
      [smTooltip]="'credentials.apiCredentialsInfo' | translate"
      matTooltipPosition="above"
    ></mat-icon>
  </div>
</header>
@for (cred of credentials() | keyValue; track cred.key) {
  <div class="section mb-4">
    <sm-admin-credential-table
      [credentials]="cred?.value"
      (updateCredentialLabel)="updateLabel($event)"
      (credentialRevoked)="onCredentialRevoked($event)"
    ></sm-admin-credential-table>
    <button mat-button
            class="add-button"
            [class.disabled]="credState().creatingCredentials()"
            (click)="createCredential()"
    >
      <mat-icon fontSet="al" fontIcon="al-ico-add"></mat-icon>
      {{ 'credentials.createNewCredentials' | translate }}
    </button>
  </div>
}
