<mat-drawer-container class="settings-container">
  <mat-drawer mode="side" opened>
    <mat-list class="pointer" style="padding-top: 24px;">
      <mat-list-item routerLinkActive="active" routerLink="profile">{{ 'shell.settings.profile' | translate }}</mat-list-item>
      <mat-list-item routerLinkActive="active" routerLink="webapp-configuration">{{ 'shell.settings.configuration' | translate }}</mat-list-item>
      <mat-list-item routerLinkActive="active" routerLink="workspace-configuration">{{ 'shell.settings.workspace' | translate }}</mat-list-item>
      <mat-list-item routerLinkActive="active" routerLink="storage-credentials">{{ 'shell.settings.storageCleanup' | translate }}</mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="section">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
    <sm-admin-footer></sm-admin-footer>
  </mat-drawer-content>
</mat-drawer-container>
