@if (data) {
  <sm-dialog-template iconClass="al-ico-pipelines" header="pipelines.actions.createNewPipeline">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </sm-dialog-template>
} @else {
  <div class="content">
    <div class="code">
      <p>
        {{ 'pipelines.empty.quickExample' | translate }}<br>
        {{ 'pipelines.empty.moreDetails' | translate }} <a [class.dark]="createButton()" [href]="confService.configuration().docsLink + '/latest/docs/pipelines'"
      target="_blank">{{ 'header.documentation' | translate }}</a>
      </p>
    @if (initPipelineCode()) {
      <sm-code-editor [code]="initPipelineCode()" [readonly]="true" [showCopyButton]="true"></sm-code-editor>
    }
  </div>
  <div class="diagram">
    <i class="i-pipeline-empty-state"></i>
  </div>
</div>
}

<ng-template #content>
  <div class="content">
    <div class="code">
        <p>
          {{ 'pipelines.empty.quickExample' | translate }}<br>
          {{ 'pipelines.empty.moreDetails' | translate }} <a [class.dark]="createButton()" [href]="confService.configuration().docsLink + '/latest/docs/pipelines'"
        target="_blank">{{ 'header.documentation' | translate }}</a>
        </p>
    @if (initPipelineCode()) {
      <sm-code-editor [code]="initPipelineCode()" [readonly]="true" [showCopyButton]="true"></sm-code-editor>
    }
  </div>
  <div class="diagram">
    <i class="i-pipeline-empty-state"></i>
  </div>
</div>
</ng-template>
